.container {
  background-image: url("../../images/pokemon___pokeball_phone_wallpaper_by_brisity_dd0xve2-fullview.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .head {
    padding-top: 6rem;
  }
  .poke-display {
    padding-right: 1.2rem;
    display: flex;
    justify-content: center;

    img {
      width: 400px;
      height: auto;
    }
  }
  .next {
    display: flex;
    justify-content: center;
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: thick double #32a1ce;
      border-radius: 10px;
      padding: 0 1rem;
      margin-top: 2rem;
      width: fit-content;

      p {
        padding: 0 1rem;
        font-size: 1.5rem;
        color: gray;
        font-weight: 4rem;
        font-family: "system-ui";
      }
      img {
        width: 40px;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .poke-display {
      padding: 14rem 0 0 0.5rem;
      img {
        width: 100px;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    .poke-display {
      padding: 6rem 0 0 1.5rem;
    }
  }
}
